.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.container-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}
.container-items{
    display: flex;
    justify-content: center;
}