.Checkout-container{
    text-align: center;
    padding: 20px;
    .NoItems-container{
        padding: 20px;
        Button{
            margin: 10px;
        }
    }
    .btnVolver-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    h2{
        padding: 10px;
    }
    .fieldset{
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }
}