.ContainerItemCount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px 30px;
    .ButtonsGroup{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
    .ButtonAddCart{
        display: flex;
        justify-content: center;
    }
}