.main-footer {
    width: 100%;
    display: flex;
    padding-top: 10px 25px;
    margin-top: 50px;
    box-shadow: 8px -10px 5px 0px #81818129;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    .footer{
        display: flex;
        li{
            margin: 15px;
        }
    }
}