.item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 0 20px;
    transition: all 0.3s ease;
    background-color: #fff;
    img {
        width: 240px;
        margin: auto;
        display: block;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .item-data {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 10px;
    }
    .btnIrAlCarrito{
        padding: 20px;
    }
    .container-btnDetail{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}
.item-container:hover {
    transform: scale(1.05);
}